@charset "UTF-8";
@font-face {
  font-family: "Teko-Regular";
  src: url("../fonts/teko_regular/Teko-Regular.eot");
  src: local("☺"), url("../fonts/teko_regular/Teko-Regular.woff") format("woff"), url("../fonts/teko_regular/Teko-Regular.ttf") format("truetype"), url("../fonts/teko_regular/Teko-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko-Bold";
  src: url("../fonts/teko_bold/Teko-Bold.eot");
  src: local("☺"), url("../fonts/teko_bold/Teko-Bold.woff") format("woff"), url("../fonts/teko_bold/Teko-Bold.ttf") format("truetype"), url("../fonts/teko_bold/Teko-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Light";
  src: url("../fonts/teko_light/Teko-Light.eot");
  src: local("☺"), url("../fonts/teko_light/Teko-Light.woff") format("woff"), url("../fonts/teko_light/Teko-Light.ttf") format("truetype"), url("../fonts/teko_light/Teko-Light.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Medium";
  src: url("../fonts/teko_medium/Teko-Medium.eot");
  src: local("☺"), url("../fonts/teko_medium/Teko-Medium.woff") format("woff"), url("../fonts/teko_medium/Teko-Medium.ttf") format("truetype"), url("../fonts/teko_medium/Teko-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Teko_SemiBold";
  src: url("../fonts/teko_semibold/Teko-SemiBold.eot");
  src: local("☺"), url("../fonts/teko_semibold/Teko-SemiBold.woff") format("woff"), url("../fonts/teko_semibold/Teko-SemiBold.ttf") format("truetype"), url("../fonts/teko_semibold/Teko-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko-Regular";
  src: url("../fonts/teko_regular/Teko-Regular.eot");
  src: local("☺"), url("../fonts/teko_regular/Teko-Regular.woff") format("woff"), url("../fonts/teko_regular/Teko-Regular.ttf") format("truetype"), url("../fonts/teko_regular/Teko-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko-Bold";
  src: url("../fonts/teko_bold/Teko-Bold.eot");
  src: local("☺"), url("../fonts/teko_bold/Teko-Bold.woff") format("woff"), url("../fonts/teko_bold/Teko-Bold.ttf") format("truetype"), url("../fonts/teko_bold/Teko-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Light";
  src: url("../fonts/teko_light/Teko-Light.eot");
  src: local("☺"), url("../fonts/teko_light/Teko-Light.woff") format("woff"), url("../fonts/teko_light/Teko-Light.ttf") format("truetype"), url("../fonts/teko_light/Teko-Light.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Medium";
  src: url("../fonts/teko_medium/Teko-Medium.eot");
  src: local("☺"), url("../fonts/teko_medium/Teko-Medium.woff") format("woff"), url("../fonts/teko_medium/Teko-Medium.ttf") format("truetype"), url("../fonts/teko_medium/Teko-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Teko_SemiBold";
  src: url("../fonts/teko_semibold/Teko-SemiBold.eot");
  src: local("☺"), url("../fonts/teko_semibold/Teko-SemiBold.woff") format("woff"), url("../fonts/teko_semibold/Teko-SemiBold.ttf") format("truetype"), url("../fonts/teko_semibold/Teko-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  font-family: "Teko-Regular";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* background-color */
/* padding-top */
/*===== Colores =====*/
:root {
  --first-color: #0E2431;
  --second-color: #4070F4;
  --thirth-color: #4e4848;
}

.first_color {
  font-size: 70px;
  color: var(--first-color);
}

.second_color {
  font-size: 85px;
  color: var(--second-color);
}

.thirth_color {
  font-size: 50;
  color: var(--thirth-color);
}

/*===================================================================================================================*/
/* HEADER */
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.6s ease 0s;
    background-color: #18b5a4;
    padding: 0px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 130px 0px 0px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 45px;
  }
}
/* END */
.mainMyHobby {
  width: 100%;
  flex: 1 1 auto;
  background: url(../resources/images/main.png) 0 0/cover no-repeat;
}

.firstTextMyHobby {
  font-family: "Teko-Regular";
  padding-top: 250px;
  font-size: 18px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: #fff;
}

.footer__row {
  display: flex;
  height: 38px;
  justify-content: center;
}
.footer__row .imgSocial {
  display: inline;
  padding-top: 7px;
  height: 25px;
  padding-left: 0.7em;
}
.footer__row .imgSocial:hover {
  transform: scale(1.1);
}

.footer__text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 0.3px;
}

/* END */
@media screen and (min-width: 768px) {
  .mainMyHobby {
    width: 100%;
    flex: 1 1 auto;
    background: url(../resources/images/main.png) 0 0/cover no-repeat;
  }

  .firstTextMyHobby {
    padding-top: 300px;
    font-family: "Teko-Regular";
    padding-top: 250px;
    font-size: 50px;
    text-align: center;
  }
}
@font-face {
  font-family: "Teko-Regular";
  src: url("../fonts/teko_regular/Teko-Regular.eot");
  src: local("☺"), url("../fonts/teko_regular/Teko-Regular.woff") format("woff"), url("../fonts/teko_regular/Teko-Regular.ttf") format("truetype"), url("../fonts/teko_regular/Teko-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko-Bold";
  src: url("../fonts/teko_bold/Teko-Bold.eot");
  src: local("☺"), url("../fonts/teko_bold/Teko-Bold.woff") format("woff"), url("../fonts/teko_bold/Teko-Bold.ttf") format("truetype"), url("../fonts/teko_bold/Teko-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Light";
  src: url("../fonts/teko_light/Teko-Light.eot");
  src: local("☺"), url("../fonts/teko_light/Teko-Light.woff") format("woff"), url("../fonts/teko_light/Teko-Light.ttf") format("truetype"), url("../fonts/teko_light/Teko-Light.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Medium";
  src: url("../fonts/teko_medium/Teko-Medium.eot");
  src: local("☺"), url("../fonts/teko_medium/Teko-Medium.woff") format("woff"), url("../fonts/teko_medium/Teko-Medium.ttf") format("truetype"), url("../fonts/teko_medium/Teko-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Teko_SemiBold";
  src: url("../fonts/teko_semibold/Teko-SemiBold.eot");
  src: local("☺"), url("../fonts/teko_semibold/Teko-SemiBold.woff") format("woff"), url("../fonts/teko_semibold/Teko-SemiBold.ttf") format("truetype"), url("../fonts/teko_semibold/Teko-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko-Regular";
  src: url("../fonts/teko_regular/Teko-Regular.eot");
  src: local("☺"), url("../fonts/teko_regular/Teko-Regular.woff") format("woff"), url("../fonts/teko_regular/Teko-Regular.ttf") format("truetype"), url("../fonts/teko_regular/Teko-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Teko-Bold";
  src: url("../fonts/teko_bold/Teko-Bold.eot");
  src: local("☺"), url("../fonts/teko_bold/Teko-Bold.woff") format("woff"), url("../fonts/teko_bold/Teko-Bold.ttf") format("truetype"), url("../fonts/teko_bold/Teko-Bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Light";
  src: url("../fonts/teko_light/Teko-Light.eot");
  src: local("☺"), url("../fonts/teko_light/Teko-Light.woff") format("woff"), url("../fonts/teko_light/Teko-Light.ttf") format("truetype"), url("../fonts/teko_light/Teko-Light.svg") format("svg");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Teko_Medium";
  src: url("../fonts/teko_medium/Teko-Medium.eot");
  src: local("☺"), url("../fonts/teko_medium/Teko-Medium.woff") format("woff"), url("../fonts/teko_medium/Teko-Medium.ttf") format("truetype"), url("../fonts/teko_medium/Teko-Medium.svg") format("svg");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Teko_SemiBold";
  src: url("../fonts/teko_semibold/Teko-SemiBold.eot");
  src: local("☺"), url("../fonts/teko_semibold/Teko-SemiBold.woff") format("woff"), url("../fonts/teko_semibold/Teko-SemiBold.ttf") format("truetype"), url("../fonts/teko_semibold/Teko-SemiBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  font-family: "Teko-Regular";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* background-color */
/* padding-top */
/*===== Colores =====*/
:root {
  --first-color: #0E2431;
  --second-color: #4070F4;
  --thirth-color: #4e4848;
}

.first_color {
  font-size: 70px;
  color: var(--first-color);
}

.second_color {
  font-size: 85px;
  color: var(--second-color);
}

.thirth_color {
  font-size: 50;
  color: var(--thirth-color);
}

/*===================================================================================================================*/
/* HEADER */
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.6s ease 0s;
    background-color: #18b5a4;
    padding: 0px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 130px 0px 0px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 45px;
  }
}
/* END */
.mainMyHobby {
  width: 100%;
  flex: 1 1 auto;
  background: url(../resources/images/main.png) 0 0/cover no-repeat;
}

.firstTextMyHobby {
  font-family: "Teko-Regular";
  padding-top: 250px;
  font-size: 18px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: #fff;
}

.footer__row {
  display: flex;
  height: 38px;
  justify-content: center;
}
.footer__row .imgSocial {
  display: inline;
  padding-top: 7px;
  height: 25px;
  padding-left: 0.7em;
}
.footer__row .imgSocial:hover {
  transform: scale(1.1);
}

.footer__text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 0.3px;
}

/* END */
@media screen and (min-width: 768px) {
  .mainMyHobby {
    width: 100%;
    flex: 1 1 auto;
    background: url(../resources/images/main.png) 0 0/cover no-repeat;
  }

  .firstTextMyHobby {
    padding-top: 300px;
    font-family: "Teko-Regular";
    padding-top: 250px;
    font-size: 50px;
    text-align: center;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  font-family: "Teko-Regular";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* background-color */
/* padding-top */
/*===== Colores =====*/
:root {
  --first-color: #0E2431;
  --second-color: #4070F4;
  --thirth-color: #4e4848;
}

.first_color {
  font-size: 70px;
  color: var(--first-color);
}

.second_color {
  font-size: 85px;
  color: var(--second-color);
}

.thirth_color {
  font-size: 50;
  color: var(--thirth-color);
}

/*===================================================================================================================*/
/* HEADER */
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.6s ease 0s;
    background-color: #18b5a4;
    padding: 0px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 130px 0px 0px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 45px;
  }
}
/* END */
.mainAbout {
  width: 100%;
  flex: 1 1 auto;
  background: url(../resources/images/main.png) 0 0/cover no-repeat;
}
.mainAbout .avatar {
  display: flex;
  padding-top: 5.5em;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}
.mainAbout .text__About {
  font-family: "Teko-Regular";
  font-size: 26px;
  text-align: center;
}
.mainAbout .subtext__about {
  font-family: "Teko-Regular";
  font-size: 16px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: #fff;
}

.footer__row {
  display: flex;
  height: 38px;
  justify-content: center;
}
.footer__row .imgSocial {
  display: inline;
  padding-top: 7px;
  height: 25px;
  padding-left: 0.7em;
}
.footer__row .imgSocial:hover {
  transform: scale(1.1);
}

.footer__text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 0.3px;
}

/* END */
@media screen and (min-width: 768px) {
  .mainAbout {
    width: 100%;
    flex: 1 1 auto;
    background: url(../resources/images/main.png) 0 0/cover no-repeat;
    padding-bottom: 100px;
  }

  .avatar {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 350px;
  }
  .avatar:hover {
    transform: scale(1.1);
  }

  .textOneAbout {
    padding-top: 90px;
    text-align: center;
    color: rgb(243, 237, 217);
    font-size: 40px;
  }

  .textTwoAbout {
    font-family: "Teko-Regular";
    padding-top: 80px;
    text-align: center;
    flex-grow: 1;
    font-size: 20px;
    padding-bottom: 100px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

html,
body {
  font-family: "Teko-Regular";
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* background-color */
/* padding-top */
/*===== Colores =====*/
:root {
  --first-color: #0E2431;
  --second-color: #4070F4;
  --thirth-color: #4e4848;
}

.first_color {
  font-size: 70px;
  color: var(--first-color);
}

.second_color {
  font-size: 85px;
  color: var(--second-color);
}

.thirth_color {
  font-size: 50;
  color: var(--thirth-color);
}

/*===================================================================================================================*/
/* ------------------------------------------------------------------------------------------- MOBILE FIRST */
/* -------------------------------------------------------------------------------------------------------- */
.wrapper {
  height: 100%;
}

body {
  color: #222;
  -webkit-transition: background-color 800ms ease;
  transition: background-color 800ms ease;
}

body.dark {
  background: url(../resources/images/mainDark.png) 0 0/cover no-repeat;
  color: #fff;
}

body.dark .footer {
  background-color: rgb(224, 215, 215);
}

button {
  border: 1px solid #333;
  padding: 0.5rem;
  background: #333;
  border-radius: 5px;
  transition: background 200ms ease;
  color: #eaeaea;
}

button:hover {
  background: rgba(51, 51, 51, 0.8);
}

.dark-button i {
  transform: rotate(35deg);
  margin-left: 0.3rem;
}

/* HEADER */
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

.header__link {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 40px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.6s ease 0s;
    background-color: #18b5a4;
    padding: 0px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 70px 0px 0px 0px;
    text-align: center;
  }

  .header__link {
    font-size: 30px;
  }
}
/* END */
/* MAiN */
.main {
  width: 100%;
  flex: 1 1 auto;
  background: url(../resources/images/main.png) 0 0/cover no-repeat;
}
.main .text {
  font-family: "Teko-Bold";
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
}
.main .skils {
  font-family: "Teko-Regular";
  text-align: center;
  padding-bottom: 10px;
}
.main .skils__title {
  font-family: "Teko-Regular";
  position: relative;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.main .skils__text {
  display: none;
  font-size: 28px;
  padding-bottom: 10px;
  color: hsl(130deg, 62%, 32%);
}
.main .sub__skils {
  font-family: "Teko-Regular";
  font-size: 22px;
}

/* FOOTER */
.footer {
  background-color: #fff;
}

.footer__row {
  display: flex;
  height: 38px;
  justify-content: center;
}
.footer__row .imgSocial {
  display: inline;
  padding-top: 7px;
  height: 25px;
  padding-left: 0.7em;
}
.footer__row .imgSocial:hover {
  transform: scale(1.1);
}

.footer__text {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 15px;
  letter-spacing: 0.3px;
}

/* END */
/* ------------------------------------------------------------------------------------------- MOBILE FIRST END */
/* ------------------------------------------------------------------------------------------------------------ */
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .navigation {
    font-family: "Teko-Bold";
    display: flex;
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-size: 18px;
    text-indent: 5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main {
    max-width: 970px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .main {
    max-width: 750px;
  }
}
@media screen and (min-width: 768px) and (max-width: 767px) {
  .main {
    max-width: none;
  }
}
@media screen and (min-width: 768px) {
  .firstText {
    padding-top: 70px;
    text-align: center;
  }
  .firstText .one {
    margin: 0 0 5px 0;
    font-size: 95px;
    color: var(--first-color);
  }
  .firstText .two {
    margin: 0 0 10px 0;
    font-size: 100px;
    color: var(--second-color);
  }
  .firstText .three {
    font-size: 90px;
    color: var(--thirth-color);
  }
  .firstText .secondText {
    font-size: 45;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .content {
    flex: 1 1 auto;
  }
}
@media screen and (min-width: 768px) {
  .hi__row {
    display: flex;
    justify-content: center;
  }
}