@import "_fonts";
@import "_nullstyle";
@import "_const";



@media (max-width:767px){

    .avatar {
        display: flex;
        padding-top: 3em;
        margin-left: auto;
        margin-right: auto;
        max-width: 90px;
        filter: grayscale(1);
        transition: all 1s ease 0s;
    }

    .avatar:hover{
        filter: grayscale(0);
        transition: all 1s ease 0s;
    }



    .skills{
        padding-top: 20px;
         .skills__text1{
             font-size: 16px;
             padding: 0px 20px 0px 20px;
         }
         .skills__pic1{
             width: 100%;
             max-height: 110px;
             max-width: 110px;
     
             &:hover{
                 transform: scale(1.6);
             }
         }
     }
     
     
     
         .text__about {
            padding-top: 20px;
             font-family: 'Teko-Regular';
             font-size: 16px;
             text-align: center;
         }
     
         .email{
            padding-bottom: 15px;
             font-family: 'Teko-Regular';
             font-size: 16px;
             text-align: center;
             color: #18b5a4;
         }

         .text__about {
            font-family: 'Teko-Regular';
            font-size: 36px;
            text-align: center;
        }
        .text__about p{
            font-family: 'Teko-Regular';
            font-size: 16px;
            text-align: center;
        }
    
        .email{
            font-family: 'Teko-Regular';
            font-size: 16px;
            padding: 0px 0px 20px 0px;
            text-align: center;
            color: #18b5a4;
        }
}

// /* FOR BIG SCREEN (PC, LEPTOP) */
@media screen and (min-width: 768px) {

    .mainAbout {
        width: 100%;
    flex: 1 1 auto;
    padding-bottom: 100px;
    }

    .avatar {
        display: flex;
        padding-top: 4em;
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        filter: grayscale(1);
        transition: all 1s ease 0s;
    }

    .avatar:hover{
        filter: grayscale(0);
        transition: all 1s ease 0s;
    }

    .skills{
        display: flex;
        text-align: center;
        margin: 20px 250px 0px 250px;
        
        .skills__text1{
            font-size: 20px;
            text-align: left; 
        }
        .skills__pic1{
            width: 100%;
            max-width: 230px;
            padding-right: 25px;

            &:hover {
                transform: scale(1.6);
            }
        }
    }

    .text__about {
        font-family: 'Teko-Regular';
        font-size: 36px;
        text-align: center;
    }
    .text__about p{
        font-family: 'Teko-Regular';
        font-size: 16px;
        text-align: center;
    }

    .email{
        font-family: 'Teko-Regular';
        font-size: 16px;
        text-align: center;
        color: #18b5a4;
    }

}