
// Teko font

@font-face {
	font-family: 'Teko-Regular';
	src: url('../fonts/teko_regular/Teko-Regular.eot');
	src: local('☺'), url('../fonts/teko_regular/Teko-Regular.woff') format('woff'), url('../fonts/teko_regular/Teko-Regular.ttf') format('truetype'), url('../fonts/teko_regular/Teko-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Teko-Bold';
	src: url('../fonts/teko_bold/Teko-Bold.eot');
	src: local('☺'), url('../fonts/teko_bold/Teko-Bold.woff') format('woff'), url('../fonts/teko_bold/Teko-Bold.ttf') format('truetype'), url('../fonts/teko_bold/Teko-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Teko_Light';
	src: url('../fonts/teko_light/Teko-Light.eot');
	src: local('☺'), url('../fonts/teko_light/Teko-Light.woff') format('woff'), url('../fonts/teko_light/Teko-Light.ttf') format('truetype'), url('../fonts/teko_light/Teko-Light.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Teko_Medium';
	src: url('../fonts/teko_medium/Teko-Medium.eot');
	src: local('☺'), url('../fonts/teko_medium/Teko-Medium.woff') format('woff'), url('../fonts/teko_medium/Teko-Medium.ttf') format('truetype'), url('../fonts/teko_medium/Teko-Medium.svg') format('svg');
	font-weight: medium;
	font-style: normal;
}


@font-face {
	font-family: 'Teko_SemiBold';
	src: url('../fonts/teko_semibold/Teko-SemiBold.eot');
	src: local('☺'), url('../fonts/teko_semibold/Teko-SemiBold.woff') format('woff'), url('../fonts/teko_semibold/Teko-SemiBold.ttf') format('truetype'), url('../fonts/teko_semibold/Teko-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// ---------------------------------------------------