@import "_fonts";
@import "_nullstyle";
@import "_const";


@media (max-width:767px){
}

.firstTextMyHobby {
    font-family: 'Teko-Regular';
    padding-top: 250px;
    padding-bottom: 250px;
    font-size: 35px;
    color: rgb(38, 168, 82);
    text-align: center;
}

@media screen and (min-width: 768px) {
    .mainMyHobby {
        width: 100%;
        flex: 1 1 auto;
    }
    
    .firstTextMyHobby {
        font-family: 'Teko-Regular';
        padding-top: 250px;
        font-size: 50px;
        text-align: center;
    }
}