@import "_fonts";
@import "_myhobbypage";
@import "_aboutpage";
@import "_nullstyle";
@import "_const";

/* ------------------------------------------------------------------------------------------- MOBILE FIRST */
/* -------------------------------------------------------------------------------------------------------- */
.wrapper{
    height: 100%;
}
body {
   // color: #222;
    -webkit-transition: background-color 800ms ease;
    transition: background-color 800ms ease;
  }
  button {
    border: 2px solid rgb(71, 209, 66);
    padding: 0.2rem;
    background: rgb(71, 209, 66);
    border-radius: 3px;
    color: #eaeaea;
  }
  button:hover {
    background: rgba(51, 51, 51, 0.8);
  }
  
  .dark-button i {
    transform: rotate(35deg);
    margin-left: 0.3rem;
  }

/* HEADER */
@media (max-width:767px){
      // SKILS -------------------------------------
.skils{
    display: none;
}
.skils__mobileVersion{
    font-family: 'Teko-Regular';
    text-align: center;
    font-size: 20px;

    .skils__text1{
       display: none;
        column-count: 3;
       margin: 10px 80px 10px 80px;
    }
}
    .text__main{
        .text1 {
            font-family: 'Teko-Bold';
            padding-top: 70px;
            margin-bottom: -60px;
            text-align: center;
             font-size: 65px;
        }
        .text2{
            font-family: 'Teko-Bold';
             margin-bottom: -35px;
            text-align: center;
            font-size: 63px;
        }
        
        .text3{
            font-family: 'Teko-Bold';
             margin-bottom: -55px;
            text-align: center;
            font-size: 75px;
            color: rgb(34, 173, 34);
        }
    
        .text4{
            font-family: 'Teko-Bold';
             margin-bottom: -45px;
            text-align: center;
            font-size: 59px;
        }
        .text5{
            font-family: 'Teko-Bold';
            text-align: center;
            font-size: 65px;
        }
    }
// SKILS END -------------------------------------
button {
    border: 8px solid rgb(71, 209, 66);
    padding: 0.2rem;
    background: rgb(71, 209, 66);
    border-radius: 3px;
    color: #eaeaea;
  }
}

/* ------------------------------------------------------------------------------------------- MOBILE FIRST END */
/* ------------------------------------------------------------------------------------------------------------ */

// /* FOR BIG SCREEN (PC, LEPTOP) */
@media screen and (min-width: 768px) {
    body.dark {
        background: url(../resources/images/mainDark.png) 0 0/cover no-repeat;
        color: #fff;
      }
    // @media (max-width:1200px){
    //     .main{
    //         max-width: 970px;
    //     }
    // }
    // @media (max-width:992px){
    //     .main{
    //         max-width: 750px;
    //     }
    // }
    // @media (max-width:767px){
    //     .main{
    //         max-width: none;
    //     }
    // }
// SKILS -------------------------------------
.text__main{
    .text1 {
        font-family: 'Teko-Bold';
        padding-top: 50px;
        margin-bottom: -60px;
        text-align: center;
        font-size: 82px;
    }
    .text2{
        font-family: 'Teko-Bold';
         margin-bottom: -35px;
        text-align: center;
        font-size: 82px;
    }
    
    .text3{
        font-family: 'Teko-Bold';
         margin-bottom: -45px;
        text-align: center;
        font-size: 96px;
        color: rgb(34, 173, 34);
    }

    .text4{
        font-family: 'Teko-Bold';
         margin-bottom: -45px;
        text-align: center;
        font-size: 76px;
    }
    .text5{
        font-family: 'Teko-Bold';
        text-align: center;
        font-size: 76px;
    }
}

.skils{
    font-family: 'Teko-Regular';
    text-align: center;
    padding-bottom: 10px;
}
.skils__title {
    font-family: 'Teko-Regular';
    position: relative;
    padding: 0px 0px 0px 0px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
 }
.skils__text {
    display: none;
    font-size: 28px;
    padding-bottom: 10px;
    color:hsl(130, 62%, 32%);
    
 }
.sub__skils{
font-family: 'Teko-Regular';
font-size: 22px;
}

.skils__mobileversion{
    display: none;
}
.skils__titleMobile{
    display: none;
}
.sub__skilsMobile{
    display: none;
}
.skils__text1{
    display: none;
}
// SKILS END -------------------------------------
}